.profile-details {
    display: grid;
    text-align: justify;
    margin-left: 33px;
    gap: 10px;
}

.profile-button{
    width: 123px;
    height: 40px;
    font-size: 12px;
    margin: 6px;
}
.edit_profile-button{
    width: 123px;
    height: 40px;
    font-size: 12px;
    margin: 6px;
}

.form-demo .card {
    min-width: 450px;
}
.form-demo .card form {
    margin-top: 2rem;
}
.form-demo .card .field {
    margin-bottom: 1.5rem;
}
@media screen and (max-width: 960px) {
    .form-demo .card {
        width: 80%;
    }
}
@media screen and (max-width: 640px) {
    .form-demo .card {
        width: 100%;
        min-width: 0;
    }
}
            